/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
    padding: 0;
}

.header {
    height: 70px;
    width: 100%;
    background-color: #999999
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.form-container {
    height: 40%;
    width: 30%;
    margin: 0 auto;
}

.one-user {
    height: 110px;
    width: 30%;
    background-color: #cccaca;
    margin: 10px;
}

.whole-margin {
    width: 90%;
    margin: 0 auto;
}
